body{
	background-image: url("23.png");
	
}

.done {
	text-decoration: line-through;
}

li : hover {
	cursor : pointer;
}

.class_btn {
	display: none;
}

.spacing {
	line-height: 33px;
	display: flex;
	justify-content: center;
	width: 28%;
	flex-wrap: wrap;
	
}

ul li {
	width: 130%;
	background-color: rgba(255,255,255,0.5);
	border-radius: 5px;
	margin: 10px 10px 10px 0px;
}


.input{
	width: 50%;
	border-radius: 3px;
	border : none;
	line-height: 25px;
}

h1 {
	background-color: rgba(0,0,0,0);
	width: 26%;
	border-radius: 5px;
	color:  rgba(255,255,255,1);
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: algerian;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
	border-top: 3px solid rgba(236,64,122, 0.8);
	border-left: 3px solid rgba(236,64,122, 0.8);
	border-right: 3px solid rgba(236,64,122, 0.8);	
}

h3 {
	color: #FFFFFF;
}

.maindiv {
	width: 40%;
	border-radius: 5px;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
	padding-top: 10px;
	border-left: 3px solid rgba(236,64,122, 0.8);
	border-top: 3px solid rgba(236,64,122, 0.8);

}

.img1 {
	height: 25px;
	width: 25px;
	padding: 0px 2px 7px 10px;
}

.img1 : hover{
	transform: scale(1.1);
}

.btn
{
	background-color: #1E90FF;
	border: 0px 0px 0px 0px ;
	border-color: #1E90FF;
	border-radius: 5px;
	color: white;
	padding: 5px 10px 5px 10px;
}